<section class="product-container product-row">
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button id="search-button">Search</button>
    </div>
</section>
<section class="product-container product-row">
    <div class="product-col-3">
        <p class="text-center product-title">
            Product Name
        </p>
        <p class="product-info">{{productName}}</p>
    </div>
    <div class="product-col-3">
        <p class="text-center product-title">
            Price
        </p>
        <p class="product-info">{{price}}</p>
    </div>
    <div class="product-col-3">
        <p class="text-center product-title">
            Product Description
        </p>
        <p class="product-info">{{productDescription}}</p>
    </div>
    <div class="product-col-3">
        <p class="text-center product-title">
            Product Location
        </p>
        <p class="product-info">{{location}}</p>
    </div>
    <div class="product-col-3">
        <p class="text-center product-title">
            Contact
        </p>
        <p class="product-info">{{email}}</p>
    </div>
</section>