<header class="bg-white-500">
    <nav class="bg-gradient-to-r from-blue-300 to-blue-600">
        <div class="max-w-7xl mx-auto">
            <div class="flex justify-between items-center py-4 px-4">
                <div class="flex items-center ml-4">
                    <h2 class="font-bold text-3xl text-black .text-rubik">JungsList</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-check-fill ml-2" viewBox="0 0 16 16">
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                </div>

                <div class="flex space-x-8">
                    <button id="search-go-sell" class="font-bold text-1x hover:bg-blue-100 text-black .text-rubik">My Account</button> 
                    <button id="search-go-logout" class="font-bold text-1x hover:bg-blue-100 text-black .text-rubik">Logout</button>
                </div>
            </div>
    </nav>
</header>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 d-flex">
      <input class="form-control form-control-lg mr-sm-2 flex-grow-1" type="text" id="search-input" placeholder="Enter Location to Search...">
      <button class="btn btn-custom" id="search-button" type="button">Search</button>
    </div>
  </div>
</div>

<section class="product-container product-row mt-4">
  <div class="container">
    <div class="row">
      {{#each actualProductData as |productData|}}
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 1.8rem;">{{product_name}}</h5>
            <p class="card-text" style="font-size: 1.4rem;">${{price}}</p>
            <p class="card-text" style="font-size: 1.2rem;">{{description}}</p>
            <p class="card-text" style="font-size: 1.2rem;">{{brand}}</p>
            <p class="card-text" style="font-size: 1.2rem;">{{product_condition}}</p>
            <p class="card-text" style="font-size: 1.2rem;">{{category}}</p>
            <p class="card-text" style="font-size: 1.2rem;">{{seller_location}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{filteredProductData.0.product_name}}
  {{#if filteredProductData}}
  <div class="container mt-4" id="searchBox">
    <div class="row">
      {{#each filteredProductData}}
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 1.8rem;">{{product_name}}</h5>
            <p class="card-text" style="font-size: 1.2rem;">{{price}}</p>
            <p class="card-text" style="font-size: 1.2rem;">{{seller_location}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div class="container mt-4" id="searchBox">
   <!--<p>No filtered products found.</p>-->
  </div>
  {{/if}}
</section>
</section>

<link rel="stylesheet" href="./css/searchPage.css">

<script src="./js/searchpage.js"></script>
<script src="./js/searchpage-links.js"></script>

